/* color palette from <https://github.com/vuejs/theme> */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --sub-500: #525866;
  --surface-700: #20232d;
  --disabled-300: #cdd0d5;
  --soft-200: #e2e4e9;
  --main-900: #0a0d14;
  --blue-base: #375dfb;
  --weak-100: #f6f8fa;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: #fff;
  }
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-weight: normal;
}

html {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

input {
  caret-color: var(--disabled-300);
}
